{
  "name": "datagen-bankrows",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "bni.bank_rows",
    "schema.filename": "/connect/datagen/bank_rows_schema.avro",
    "schema.keyfield": "timestamp",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "producer.interceptor.classes": "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor",
    "max.interval": 1000,
    "iterations": 5,
    "tasks.max": "1"
  }
}
